{{> head}}

<h3>{{{message}}}</h3>

<form class="pure-form" action="" method="post">
	<p><label for="username">Username:</label> <input type="text" name="username" id="username"></p>
	<p><label for="password">Password:</label> <input type="text" name="password" id="password"></p>
	{{#params}}
		<input type="hidden" name="{{key}}" value="{{value}}">
	{{/params}}
	<input type="hidden" name="__login" value="true">
	<button type="submit" class="pure-button pure-button-primary">OK</button>

	<a href="/show"><button class="pure-button">Cancel</button></a>

</form>

{{> foot}}