<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{pagetitle}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/static/wiki.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="pure-g">
    <div class="pure-u-1">
        <div class="l-box black-box">
            <h1>&#x2615; &nbsp; &nbsp; The Wiki.</h1>
        </div>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-5" id="pagelist">
        <div class="l-box">
            <h1>{pagename}</h1>
            <div class="pure-menu">
                <span class="pure-menu-heading">Pages</span>

                <ul class="pure-menu-list">
                    {pages}

                </ul>
                <p>&nbsp;</p>
                <span class="pure-menu-heading">Create new page</span>
                <div class="pure-menu-heading">
                <form class="pure-form" action="/create">
                    <input type="text" size="10" name="pagename" id="newpage">
                    <button type="submit" class="pure-button pure-button-primary">+</button>
                </form>
                </div>
                <p>&nbsp;</p>
                <span class="pure-menu-heading">Actions</span>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/edit/{pagename}" class="pure-menu-link">edit</a></li>
                    <li class="pure-menu-item"><a href="/show" class="pure-menu-link">back to main</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="pure-u-1 pure-u-md-4-5" id="content">
        <div class="l-box">

			<div class="l-box">
				<form class="pure-form" action="/save/{pagename}" method="post">
					<textarea class="wikiedit" name="wikitext">{text}</textarea>
					<p>
						<button class="pure-button pure-button-primary" type="submit" value="save">Save</button>
						&nbsp;
						<a href="/show/{pagename}"><button class="pure-button">Cancel</button></a>
					</p>
				</form>
			</div>

     </div>
   </div>
</div>

     <div class="pure-g">
    <div class="pure-u-1">
        <div class="l-box lightgrey-box right-flow">
            <p><img src="https://creativecommons.org/images/deed/noc.png"> No copyright.
        </div>
    </div>
</div>

</body>
</html>