{{> header}}

<h2>Bitte einloggen</h2>
<p>Benutzer: admin, user1, user2 (Passwort=Benutzername)</p>
<form action="/login" method="post" class="pure-form pure-form-stacked">
    <fieldset>
        <label for="username">Benutzername:</label> <input type="text" name="_username" id="username"> <br>
        <label for="password">Passwort:</label>  <input type="password" name="_password" id="password"> <br>
        &nbsp;<br>
        <button class="pure-button button-secondary" type="submit">Login</button>
    </fieldset>
</form>

{{> footer}}