{{#tweets}}
    <section class="post">
       <header class="post-header">
            <img alt="Some avatar" class="post-avatar" src="https://api.adorable.io/avatars/48/{{{author}}}.png" width="48" height="48">
            <h2 class="post-title">{{{tweet}}}</h2>
            <p class="post-meta">By {{{author}}} on {{{date}}}</p>
        </header>
        <div class="post-description"><p>&nbsp;</p></div>
    </section>
{{/tweets}}